.profile-image {
    width: 100%;
    border-radius: 50%;
  }
  
  .profile-area {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .open-button {
    z-index: 100;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 20px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    opacity: 1;
    position: fixed;
    bottom: 11px;
    right: 15px;
    background-color: #222222;
    color: #facc02;
  }
  
  .form-container {
    z-index: -1000000;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 4px;
    border: solid black;
    background-color: white;
    display: none;
    position: fixed;
    right: 4px;
    position: fixed;
    bottom: 70px;
    right: 4px;
    width: 320px;
  }
  
  .form-container textarea {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 37px;
    padding-top: 12px;
    padding-left: 4px;
  }
  
  textarea:focus,
  input:focus {
    outline: none;
  }
  
  .messages-area {
    height: 20vh;
    position: relative;
    margin: 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1em;
    padding-top: 1vh;
    height: 380px;
    overflow-y: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  
  .messages-area::-webkit-scrollbar {
    display: none;
  }
  
  .close {
    cursor: pointer;
    position: absolute;
    margin-right: 12px;
    margin-top: 16px;
    font-size: 34px;
    right: 10px;
  }
  
  .send-button {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    opacity: 1;
    background-color: #222222;
    color: #facc02;
  }
  
  .column1 {
    float: left;
    width: 82%;
  }
  
  .column2 {
    float: left;
    width: 18%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .allOfIt {
    bottom: 0;
    right: 0;
  }
  
  .dot {
    height: 10px;
    margin-bottom: 0px;
    margin-left: 6px;
    width: 10px;
    background-color: rgb(2, 165, 2);
    border-radius: 50%;
    display: inline-block;
  }